<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="cache-fast-json.ZPM">
    <Module>
      <Name>cache-fast-json</Name>
      <Version>1.0.9</Version>
      <Description>produce pretty JSON output for Cache + Ensemble</Description>
      <Keywords>JSON, COS, SYS</Keywords>
      <Packaging>module</Packaging>
      <Dependencies>
        <ModuleReference>
          <Name>pretty-json</Name>
          <Version>1.*.*</Version>
        </ModuleReference>
      </Dependencies>
      <SourcesRoot>src</SourcesRoot>
       <Resource Name="ZZJSN.INC"/>
    </Module>
  </Document>
</Export>
